{% extends 'base.html' %}
{% block navbar_brand %}
    <a class="navbar-brand" href="add_course">Add Courses</a>
{% endblock%}

{% block navbar_items %}
<a class="nav-item nav-link" href="home">Home</a>
<a class="nav-item nav-link" href="signout">Logout</a>

<a class="nav-item nav-link" href="delete_course">Delete Courses</a>
<a class="nav-item nav-link" href="update_course">Update Courses</a>
{% endblock%}

{% block styles %}
<style>

    .mycont{
        margin-top: 40vh;
        text-align:center;
    }
</style>
{% endblock%}
{% block content %}
    <div class="container " style="text-align:center;">

        <div class="alert alert-primary" role="alert" style="background-color:#FF9B6A; color:#161E54 ;">

            <h3>Add courses </h3>
        </div>

    </div>
    
    <div class="container">
        
        <main class="form-signin">
            <form method="post" action="/add_course">
                {% csrf_token %}

                
                <div class="form-floating">
                <input type="name" class="form-control" id="floatingInput" placeholder="name" name="name">
                <label for="floatingInput" style="opacity: 0.7;">Name of course</label>
                </div>

                
                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Course ID" name="course_id">
                <label for="floatingInput" style="opacity: 0.7;">Course Id</label>
                </div>

                <div class="form-floating">
                <input type="name" class="form-control" id="floatingInput" placeholder="name" name="prof_name">
                <label for="floatingInput" style="opacity: 0.7;">Name of Prof</label>
                </div>

                
                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Prof ID" name="prof_id">
                <label for="floatingInput" style="opacity: 0.7;">Prof Id</label>
                </div>

                
                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="10" name="seats_available">
                <label for="floatingInput" style="opacity: 0.7;">Seats Available</label>
                </div>

                <div class="form-floating">
                <input type="time" class="form-control" id="floatingInput" placeholder="" name="start_time">
                <label for="floatingInput" style="opacity: 0.7;">Starting Time</label>
                </div>

                
                <div class="form-floating">
                <input type="time" class="form-control" id="floatingInput" placeholder="" name="end_time">
                <label for="floatingInput" style="opacity: 0.7;">Ending Time</label>
                </div>
  
                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="..." name="description">
                <label for="floatingInput" style="opacity: 0.7;">Description</label>
                </div>

                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="M T W Th F S Su" name="days" multiple>
                <label for="floatingInput" style="opacity: 0.7;">Days Of the week</label>
                </div>

                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="UE18MATH.." name="prerequisites" multiple>
                <label for="floatingInput" style="opacity: 0.7;">Prerequisites</label>
                </div>

                
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
            </form>
        </main>
    </div>

{% endblock%}
