{% extends 'base.html' %}
{% block navbar_brand %}
	<a class="navbar-brand" href="#">Home</a>
{% endblock %}
{% block navbar_items %}
	{% if user.is_authenticated %}
		<a class="nav-item nav-link" href="signout">Logout</a>
	{% else %}
		<a class="nav-item nav-link" href="signin">Login</a>
	{% endif %}
	<a class="nav-item nav-link" href="add_course">Add Courses</a>
	<a class="nav-item nav-link" href="delete_course">Delete Courses</a>
	<a class="nav-item nav-link" href="update_course">Update Courses</a>
{% endblock %}
{% block styles %}
<style>

    .mycont{
        margin-top: 40vh;
        text-align:center;
    }
</style>
{% endblock%}


{% block content %}
<div class="container " style="text-align:center;">

	<div class="alert alert-primary mycont" role="alert" style="background-color:#FF9B6A; color:#161E54 ;">
		<h2>Welcome to the course registration website! Admin</h2>
		
	</div>

</div>
		

{% endblock %}
