

{% extends 'base.html' %}
{% block navbar_brand %}
    <a class="navbar-brand" href="pick_course">Calendar</a>
{% endblock%}

{% block navbar_items %}
<a class="nav-item nav-link" href="home">Home</a>
<a class="nav-item nav-link" href="signout">Logout</a>

{% endblock%}

{% block content %}
<div class="container">
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">1</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">2</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">3</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">4</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">5</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">6</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">7</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">8</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">9</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">10</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">11</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">12</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">13</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">14</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">15</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">16</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">17</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">18</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">19</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">20</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">21</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">22</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">23</th>
        <th scope="col" style="opacity: 0;">1</th>
        <th scope="col">24</th>
        <th scope="col" style="opacity: 0;">1</th>
      </tr>
    </thead>
    <tbody>
        <tr >
            <!-- <th scope="row"></th> -->
            <td>Monday</td>
            <td class="monday" id="1_00"></td>
            <td class="monday" id="1_30"></td>
            <td class="monday" id="2_00"></td>
            <td class="monday" id="2_30"></td>
            <td class="monday" id="3_00"></td>
            <td class="monday" id="3_30"></td>
            <td class="monday" id="4_00"></td>
            <td class="monday" id="4_30"></td>
            <td class="monday" id="5_00"></td>
            <td class="monday" id="5_30"></td>
            <td class="monday" id="6_00"></td>
            <td class="monday" id="6_30"></td>
            <td class="monday" id="7_00"></td>
            <td class="monday" id="7_30"></td>
            <td class="monday" id="8_00"></td>
            <td class="monday" id="8_30"></td>
            <td class="monday" id="9_00"></td>
            <td class="monday" id="9_30"></td>
            <td class="monday" id="10_00"></td>
            <td class="monday" id="10_30"></td>
            <td class="monday" id="11_00"></td>
            <td class="monday" id="11_30"></td>
            <td class="monday" id="12_00"></td>
            <td class="monday" id="12_30"></td>
            <td class="monday" id="13_00"></td>
            <td class="monday" id="13_30"></td>
            <td class="monday" id="14_00"></td>
            <td class="monday" id="14_30"></td>
            <td class="monday" id="15_00"></td>
            <td class="monday" id="15_30"></td>
            <td class="monday" id="16_00"></td>
            <td class="monday" id="16_30"></td>
            <td class="monday" id="17_00"></td>
            <td class="monday" id="17_30"></td>
            <td class="monday" id="18_00"></td>
            <td class="monday" id="18_30"></td>
            <td class="monday" id="19_00"></td>
            <td class="monday" id="19_30"></td>
            <td class="monday" id="20_00"></td>
            <td class="monday" id="20_30"></td>
            <td class="monday" id="21_00"></td>
            <td class="monday" id="21_30"></td>
            <td class="monday" id="22_00"></td>
            <td class="monday" id="22_30"></td>
            <td class="monday" id="23_00"></td>
            <td class="monday" id="23_30"></td>
            <td class="monday" id="24_00"></td>
            <td class="monday" id="24_30"></td>


        </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Tuesday</td>
            <td class="tuesday" id="1_00"></td>
            <td class="tuesday" id="1_30"></td>
            <td class="tuesday" id="2_00"></td>
            <td class="tuesday" id="2_30"></td>
            <td class="tuesday" id="3_00"></td>
            <td class="tuesday" id="3_30"></td>
            <td class="tuesday" id="4_00"></td>
            <td class="tuesday" id="4:30"></td>
            <td class="tuesday" id="5_00"></td>
            <td class="tuesday" id="5_30"></td>
            <td class="tuesday" id="6_00"></td>
            <td class="tuesday" id="6_30"></td>
            <td class="tuesday" id="7_00"></td>
            <td class="tuesday" id="7_30"></td>
            <td class="tuesday" id="8_00"></td>
            <td class="tuesday" id="8_30"></td>
            <td class="tuesday" id="9_00"></td>
            <td class="tuesday" id="9_30"></td>
            <td class="tuesday" id="10_00"></td>
            <td class="tuesday" id="10_30"></td>
            <td class="tuesday" id="11_00"></td>
            <td class="tuesday" id="11_30"></td>
            <td class="tuesday" id="12_00"></td>
            <td class="tuesday" id="12_30"></td>
            <td class="tuesday" id="13_00"></td>
            <td class="tuesday" id="13_30"></td>
            <td class="tuesday" id="14_00"></td>
            <td class="tuesday" id="14_30"></td>
            <td class="tuesday" id="15_00"></td>
            <td class="tuesday" id="15_30"></td>
            <td class="tuesday" id="16_00"></td>
            <td class="tuesday" id="16_30"></td>
            <td class="tuesday" id="17_00"></td>
            <td class="tuesday" id="17_30"></td>
            <td class="tuesday" id="18_00"></td>
            <td class="tuesday" id="18_30"></td>
            <td class="tuesday" id="19_00"></td>
            <td class="tuesday" id="19_30"></td>
            <td class="tuesday" id="20_00"></td>
            <td class="tuesday" id="20_30"></td>
            <td class="tuesday" id="21_00"></td>
            <td class="tuesday" id="21_30"></td>
            <td class="tuesday" id="22_00"></td>
            <td class="tuesday" id="22_30"></td>
            <td class="tuesday" id="23_00"></td>
            <td class="tuesday" id="23_30"></td>
            <td class="tuesday" id="24_00"></td>
            <td class="tuesday" id="24_30"></td>

        </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Wednesday</td>
            <td class="wednesday" id="1_00"></td>
            <td class="wednesday" id="1_30"></td>
            <td class="wednesday" id="2_00"></td>
            <td class="wednesday" id="2_30"></td>
            <td class="wednesday" id="3_00"></td>
            <td class="wednesday" id="3_30"></td>
            <td class="wednesday" id="4_00"></td>
            <td class="wednesday" id="4_30"></td>
            <td class="wednesday" id="5_00"></td>
            <td class="wednesday" id="5_30"></td>
            <td class="wednesday" id="6_00"></td>
            <td class="wednesday" id="6_30"></td>
            <td class="wednesday" id="7_00"></td>
            <td class="wednesday" id="7_30"></td>
            <td class="wednesday" id="8_00"></td>
            <td class="wednesday" id="8_30"></td>
            <td class="wednesday" id="9_00"></td>
            <td class="wednesday" id="9_30"></td>
            <td class="wednesday" id="10_00"></td>
            <td class="wednesday" id="10_30"></td>
            <td class="wednesday" id="11_00"></td>
            <td class="wednesday" id="11_30"></td>
            <td class="wednesday" id="12_00"></td>
            <td class="wednesday" id="12_30"></td>
            <td class="wednesday" id="13_00"></td>
            <td class="wednesday" id="13_30"></td>
            <td class="wednesday" id="14_00"></td>
            <td class="wednesday" id="14_30"></td>
            <td class="wednesday" id="15_00"></td>
            <td class="wednesday" id="15_30"></td>
            <td class="wednesday" id="16_00"></td>
            <td class="wednesday" id="16_30"></td>
            <td class="wednesday" id="17_00"></td>
            <td class="wednesday" id="17_30"></td>
            <td class="wednesday" id="18_00"></td>
            <td class="wednesday" id="18_30"></td>
            <td class="wednesday" id="19_00"></td>
            <td class="wednesday" id="19_30"></td>
            <td class="wednesday" id="20_00"></td>
            <td class="wednesday" id="20_30"></td>
            <td class="wednesday" id="21_00"></td>
            <td class="wednesday" id="21_30"></td>
            <td class="wednesday" id="22_00"></td>
            <td class="wednesday" id="22_30"></td>
            <td class="wednesday" id="23_00"></td>
            <td class="wednesday" id="23_30"></td>
            <td class="wednesday" id="24_00"></td>
            <td class="wednesday" id="24_30"></td>

            </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Thursday</td>
            <td class="thursday" id="1_00"></td>
            <td class="thursday" id="1_30"></td>
            <td class="thursday" id="2_00"></td>
            <td class="thursday" id="2_30"></td>
            <td class="thursday" id="3_00"></td>
            <td class="thursday" id="3_30"></td>
            <td class="thursday" id="4_00"></td>
            <td class="thursday" id="4:30"></td>
            <td class="thursday" id="5_00"></td>
            <td class="thursday" id="5_30"></td>
            <td class="thursday" id="6_00"></td>
            <td class="thursday" id="6_30"></td>
            <td class="thursday" id="7_00"></td>
            <td class="thursday" id="7_30"></td>
            <td class="thursday" id="8_00"></td>
            <td class="thursday" id="8_30"></td>
            <td class="thursday" id="9_00"></td>
            <td class="thursday" id="9_30"></td>
            <td class="thursday" id="10_00"></td>
            <td class="thursday" id="10_30"></td>
            <td class="thursday" id="11_00"></td>
            <td class="thursday" id="11_30"></td>
            <td class="thursday" id="12_00"></td>
            <td class="thursday" id="12_30"></td>
            <td class="thursday" id="13_00"></td>
            <td class="thursday" id="13_30"></td>
            <td class="thursday" id="14_00"></td>
            <td class="thursday" id="14_30"></td>
            <td class="thursday" id="15_00"></td>
            <td class="thursday" id="15_30"></td>
            <td class="thursday" id="16_00"></td>
            <td class="thursday" id="16_30"></td>
            <td class="thursday" id="17_00"></td>
            <td class="thursday" id="17_30"></td>
            <td class="thursday" id="18_00"></td>
            <td class="thursday" id="18_30"></td>
            <td class="thursday" id="19_00"></td>
            <td class="thursday" id="19_30"></td>
            <td class="thursday" id="20_00"></td>
            <td class="thursday" id="20_30"></td>
            <td class="thursday" id="21_00"></td>
            <td class="thursday" id="21_30"></td>
            <td class="thursday" id="22_00"></td>
            <td class="thursday" id="22_30"></td>
            <td class="thursday" id="23_00"></td>
            <td class="thursday" id="23_30"></td>
            <td class="thursday" id="24_00"></td>
            <td class="thursday" id="24_30"></td>

        </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Fridy</td>
            <td class="friday" id="1_00"></td>
            <td class="friday" id="1_30"></td>
            <td class="friday" id="2_00"></td>
            <td class="friday" id="2_30"></td>
            <td class="friday" id="3_00"></td>
            <td class="friday" id="3_30"></td>
            <td class="friday" id="4_00"></td>
            <td class="friday" id="4:30"></td>
            <td class="friday" id="5_00"></td>
            <td class="friday" id="5_30"></td>
            <td class="friday" id="6_00"></td>
            <td class="friday" id="6_30"></td>
            <td class="friday" id="7_00"></td>
            <td class="friday" id="7_30"></td>
            <td class="friday" id="8_00"></td>
            <td class="friday" id="8_30"></td>
            <td class="friday" id="9_00"></td>
            <td class="friday" id="9_30"></td>
            <td class="friday" id="10_00"></td>
            <td class="friday" id="10_30"></td>
            <td class="friday" id="11_00"></td>
            <td class="friday" id="11_30"></td>
            <td class="friday" id="12_00"></td>
            <td class="friday" id="12_30"></td>
            <td class="friday" id="13_00"></td>
            <td class="friday" id="13_30"></td>
            <td class="friday" id="14_00"></td>
            <td class="friday" id="14_30"></td>
            <td class="friday" id="15_00"></td>
            <td class="friday" id="15_30"></td>
            <td class="friday" id="16_00"></td>
            <td class="friday" id="16_30"></td>
            <td class="friday" id="17_00"></td>
            <td class="friday" id="17_30"></td>
            <td class="friday" id="18_00"></td>
            <td class="friday" id="18_30"></td>
            <td class="friday" id="19_00"></td>
            <td class="friday" id="19_30"></td>
            <td class="friday" id="20_00"></td>
            <td class="friday" id="20_30"></td>
            <td class="friday" id="21_00"></td>
            <td class="friday" id="21_30"></td>
            <td class="friday" id="22_00"></td>
            <td class="friday" id="22_30"></td>
            <td class="friday" id="23_00"></td>
            <td class="friday" id="23_30"></td>
            <td class="friday" id="24_00"></td>
            <td class="friday" id="24_30"></td>

        </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Saturday</td>
            <td class="saturday" id="1_00"></td>
            <td class="saturday" id="1_30"></td>
            <td class="saturday" id="2_00"></td>
            <td class="saturday" id="2_30"></td>
            <td class="saturday" id="3_00"></td>
            <td class="saturday" id="3_30"></td>
            <td class="saturday" id="4_00"></td>
            <td class="saturday" id="4:30"></td>
            <td class="saturday" id="5_00"></td>
            <td class="saturday" id="5_30"></td>
            <td class="saturday" id="6_00"></td>
            <td class="saturday" id="6_30"></td>
            <td class="saturday" id="7_00"></td>
            <td class="saturday" id="7_30"></td>
            <td class="saturday" id="8_00"></td>
            <td class="saturday" id="8_30"></td>
            <td class="saturday" id="9_00"></td>
            <td class="saturday" id="9_30"></td>
            <td class="saturday" id="10_00"></td>
            <td class="saturday" id="10_30"></td>
            <td class="saturday" id="11_00"></td>
            <td class="saturday" id="11_30"></td>
            <td class="saturday" id="12_00"></td>
            <td class="saturday" id="12_30"></td>
            <td class="saturday" id="13_00"></td>
            <td class="saturday" id="13_30"></td>
            <td class="saturday" id="14_00"></td>
            <td class="saturday" id="14_30"></td>
            <td class="saturday" id="15_00"></td>
            <td class="saturday" id="15_30"></td>
            <td class="saturday" id="16_00"></td>
            <td class="saturday" id="16_30"></td>
            <td class="saturday" id="17_00"></td>
            <td class="saturday" id="17_30"></td>
            <td class="saturday" id="18_00"></td>
            <td class="saturday" id="18_30"></td>
            <td class="saturday" id="19_00"></td>
            <td class="saturday" id="19_30"></td>
            <td class="saturday" id="20_00"></td>
            <td class="saturday" id="20_30"></td>
            <td class="saturday" id="21_00"></td>
            <td class="saturday" id="21_30"></td>
            <td class="saturday" id="22_00"></td>
            <td class="saturday" id="22_30"></td>
            <td class="saturday" id="23_00"></td>
            <td class="saturday" id="23_30"></td>
            <td class="saturday" id="24_00"></td>
            <td class="saturday" id="24_30"></td>
        </tr>
        <tr>
            <!-- <th scope="row"></th> -->
            <td>Sunday</td>
            <td class="sunday" id="1_00"></td>
            <td class="sunday" id="1_30"></td>
            <td class="sunday" id="2_00"></td>
            <td class="sunday" id="2_30"></td>
            <td class="sunday" id="3_00"></td>
            <td class="sunday" id="3_30"></td>
            <td class="sunday" id="4_00"></td>
            <td class="sunday" id="4:30"></td>
            <td class="sunday" id="5_00"></td>
            <td class="sunday" id="5_30"></td>
            <td class="sunday" id="6_00"></td>
            <td class="sunday" id="6_30"></td>
            <td class="sunday" id="7_00"></td>
            <td class="sunday" id="7_30"></td>
            <td class="sunday" id="8_00"></td>
            <td class="sunday" id="8_30"></td>
            <td class="sunday" id="9_00"></td>
            <td class="sunday" id="9_30"></td>
            <td class="sunday" id="10_00"></td>
            <td class="sunday" id="10_30"></td>
            <td class="sunday" id="11_00"></td>
            <td class="sunday" id="11_30"></td>
            <td class="sunday" id="12_00"></td>
            <td class="sunday" id="12_30"></td>
            <td class="sunday" id="13_00"></td>
            <td class="sunday" id="13_30"></td>
            <td class="sunday" id="14_00"></td>
            <td class="sunday" id="14_30"></td>
            <td class="sunday" id="15_00"></td>
            <td class="sunday" id="15_30"></td>
            <td class="sunday" id="16_00"></td>
            <td class="sunday" id="16_30"></td>
            <td class="sunday" id="17_00"></td>
            <td class="sunday" id="17_30"></td>
            <td class="sunday" id="18_00"></td>
            <td class="sunday" id="18_30"></td>
            <td class="sunday" id="19_00"></td>
            <td class="sunday" id="19_30"></td>
            <td class="sunday" id="20_00"></td>
            <td class="sunday" id="20_30"></td>
            <td class="sunday" id="21_00"></td>
            <td class="sunday" id="21_30"></td>
            <td class="sunday" id="22_00"></td>
            <td class="sunday" id="22_30"></td>
            <td class="sunday" id="23_00"></td>
            <td class="sunday" id="23_30"></td>
            <td class="sunday" id="24_00"></td>
            <td class="sunday" id="24_30"></td>

        </tr>    
    </tbody>
  </table>
</div>
{{ registered_course|json_script:"registered_course" }}
<script>
    function on_load_func() {
        var mydata = JSON.parse(document.getElementById('registered_course').textContent);
        console.log(mydata);
        var colors=['black','red','yellow','green','blue','orange','purple']
        var ind=0;
        for (var i = 0; i < mydata.length; i++){
            var obj = mydata[i];
        
            if(mydata[i]['days']){
                for (var j=0;j<mydata[i]['days'].length;j++){
                    day_element=document.getElementsByClassName(mydata[i]['days'][j]);
                    var s_time=obj['start'].split(':')
                    var s_time_ = s_time[0]+"_"+s_time[1]
                    var e_time=obj['end'].split(':')
                    var e_time_ = e_time[0]+"_"+e_time[1]
                    var k=0;
                    while(k<day_element.length){
                        if(day_element[k].id >= s_time_ && day_element[k].id <=e_time_){
                            day_element[k].style.backgroundColor=colors[ind];
                            
                        }
                        k++;
                        }
                    }


                }
            ind++;
            }
        
        
}
    

    window.onload = on_load_func;
</script>

 {% endblock%}