<div id='div1'>
	{% extends 'base.html' %}
	{% block navbar_brand %}
		<a class="navbar-brand" href="pick_course">Course Selection</a>
	{% endblock%}

	{% block navbar_items %}

	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="home">Home</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" aria-current="page" href="signout">Logout</a>
	</li>
	
	{% endblock%}

	{% block search %}
	

	<form class="d-flex" action="/search" style="margin: 0px;">
		<input class="form-control me-2" type="search" placeholder="Search for a course" aria-label="Search" name="course_name">
		<button type="submit" class="btn btn-outline-success"><i class="fa fa-search"></i></button>
	</form>

	{% endblock %}
	

	{%block styles %}

	{% endblock %}
	
	{% block content %}

	<div class="container " style="text-align:center;">
		<div class="alert alert-primary my-alert" role="alert">
			<h4>Welcome! <b>{{user_name}}</b></h4>
			<br>
			
			{% if number_of_courses%}
			<h5>You can register or unregister for courses here</h5>
			{% else %}
			<h5>No courses found</h5>
			{%endif%}		
		</div>
	</div>

	
			
	
	{{ registered_course|json_script:"registered_course" }}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
	
	
		function on_load_func() {
			
			var mydata = JSON.parse(document.getElementById('registered_course').textContent);
			var course_ids=mydata.split(/\s+/)
			var table=document.getElementById('mytable');
			var count = table.children[1].children.length;
			for(var i = 0; i < count; i++){
				var elem=table.children[1].children[i].children[0].innerHTML;
				var regButton = table.children[1].children[i].children[7].firstChild;

				if(course_ids.includes(elem)){
					regButton.setAttribute( "onClick", "javascript: unreg(this);" ) 
					regButton.innerText="Unregister";
					regButton.style.backgroundColor="2FDD92"
					
					
					regButton.style.color="white"
					regButton.style.backgroundColor="FF5151"
				}
				
				else{
					regButton.setAttribute( "onClick", "javascript: reg(this);" ) 
					regButton.innerHTML="Register";
					regButton.style.backgroundColor="34BE82"
					regButton.style.color="white"
				
				}
				
			}
		}

        window.onload = on_load_func;
		
		function reg(argThis){
			
			var row = argThis.parentNode.parentNode
			var course_id = row.children[0].innerHTML
			var course_name = row.children[1].innerHTML
		
			let data={};
			data.course_id=course_id;
			data.course_name=course_name;
			data.csrfmiddlewaretoken='{{ csrf_token }}';
			$.ajax({
				
				type:"POST",
				url:'/register_course',
		
				data:data,
				success: function(result){
					var json = JSON.parse(result)
					window.location.reload();
					
					alert(json["message"]);
				}

			})



		}
		
		function unreg(argThis){
			
			
			var row = argThis.parentNode.parentNode
			var course_id = row.children[0].innerHTML
			var course_name = row.children[1].innerHTML
			
			var r = confirm(`Are You Sure You Want to Unregister for ${course_name}`);
			if (r == true) {
			} 
			else {
				return;
			}
				
			
		
			let data={};
			data.course_id=course_id;
			data.course_name=course_name;
			data.csrfmiddlewaretoken='{{ csrf_token }}';

			$.ajax({
				
				type:"POST",
				url:'/unregister_course',
			
				data:data,
				success: function(result){
					var json = JSON.parse(result)
					window.location.reload();
					alert(json["message"]);
				}

			})



		}
	
		</script>


	<br>
	
	{% if number_of_courses %}
			
	<div class="container">
		<div class="table-responsive" style="background-color: white;">
		<table class="table  table-hover  " id="mytable" style="font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; ">
			<thead>
				<tr>
					
					<th scope="col">Course Code</th>
					<th scope="col">Course Title</th>
					<th scope="col">Professor Name</th>
					<th scope="col">Seats Available</th>
					<th scope="col">Days</th>
					<th scope="col">Start</th>
					<th scope="col">End</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for i in courses%}
				<tr>
					<td name='course_id' id="course_id" value='{{i.course_id}}'>{{i.course_id}}</td>
					<td name='course_name'id="course_name">{{i.name}}</td>
					<td>{{i.prof_name}}</td>
					<td>{{i.seats_available}}</td>
					<td>{{i.days}}</td>
					<td>{{i.start_time}}</td>
					<td>{{i.end_time}}</td>
					<td><button onclick='reg(this)' class="btn btn-sm"></button></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</div>

{% endif %}	

{% endblock%}
