{% extends 'base.html' %}
{% block navbar_brand %}
    <a class="navbar-brand" href="delete_course">Delete Courses</a>
{% endblock%}

{% block navbar_items %}
<a class="nav-item nav-link" href="home">Home</a>
<a class="nav-item nav-link" href="signout">Logout</a>
<!-- <input class="nav-item ">Search</input> -->
<a class="nav-item nav-link" href="add_course">Add Courses</a>

<a class="nav-item nav-link" href="update_course">Update Courses</a>
{% endblock%}

{% block content %}
<div class="container " style="text-align:center;">

    <div class="alert alert-primary" role="alert" style="background-color:#FF9B6A; color:#161E54 ;">
        <h3>Delete a course </h3>
    </div>

</div>
    
    <div class="container">
        
        <main class="form-signin">
            <form method="post" action="/delete_course">
                {% csrf_token %}


                <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Course ID" name="course_id">
                <label for="floatingInput"  style="opacity: 0.7;">Course Id</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Remove Course</button>
            </form>
        </main>
    </div>


{% endblock%}
